@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-secondary: var(--secondary);
  --color-secondary-shade: var(--secondary-shade);
}

:root {
  --radius: 0.625rem;

  /* === Base Colors === */
  --primary: oklch(59.229% 0.17924 327.146);
  --primary-shade: oklch(65% 0.18 328);

  --secondary: oklch(60% 0.15 250);
  --secondary-shade: oklch(75% 0.10 250);

  --foreground: oklch(0% 0 0);
  --background: oklch(1 0 0);
}

.dark {
  --primary: oklch(59.7% 0.17 337); 
  --primary-shade: oklch(70% 0.15 337);

  --secondary: oklch(50% 0.15 250);
  --secondary-shade: oklch(65% 0.12 250);

  --foreground: oklch(0.985 0 0);
  --background: oklch(0.145 0 0);
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .text-white {
    color: white;
  }
  
  .text-primary-shade {
    color: var(--primary-shade);
  }

  .text-secondary {
    color: var(--secondary);
  }
  .text-secondary-shade {
    color: var(--secondary-shade);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-primary-shade {
    background-color: var(--primary-shade);
  }

  .bg-secondary {
    background-color: var(--secondary);

  }

  .bg-secondary-shade {
    background-color: var(--secondary-shade);
  }
}